@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<style type="text/css">
    #banner {
        background-image: url('../../content/images/hinhnenmoi.jpg');
        background-position: center;
        height: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: top;
        color: cornsilk;
        position: relative;
        margin:0 50px;
    }
    .btn{

    }
    .slider-product-one-content-item-text li:hover {
        color: red;
    }
    .banner-content {
        text-align: center;
        color: cornsilk;
    }

        .banner-content h2 {
            font-size: 2.5rem;
            color: deeppink;
            position: absolute; 
            top: -10px;
            right:90px;
            left:90px;
        }

        .banner-content p {
            font-size: 2rem;
            color: hotpink;
            position: absolute;
            top: 40px;
            right: 210px;
            left:210px;
        }
       
    
    #featurProd {
        text-align: center;
    }

        #featurProd h2 {
            font-size: 2rem;
            margin-bottom: 10px;
        }

    .productContainer {
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .Product-item {
        width: 250px;
    }

    .productDesc {
        font: arial;
        font-size: 12px;
        color: gray;
    }

    .Product-item h3 {
        font-size: 16px;
        color: black;
        margin: 10px 0px;
    }

    .productPrice {
        font: arial;
        font-size: 12px;
        color: black;
        font-weight: bold;
    }

    .Product-item img {
        max-width: 200px;
    }

    .product-use img {
        width: 50px;
    }

    .productContainer2 {
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    .product-use h3 {
        font-size: 20px;
        color: black;
        margin: 10px 0px;
    }

    .product-use {
        width: 200px;
    }

    #tienich {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .ProductContainer3 img {
        max-width: 150px;
    }

    .ProductContainer3 {
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .anh2 {
        background-image: url('../../content/images/nenhong.jpg');
        background-size: cover;
        background-position: center;
        height: 100px;
        
        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        color: cornsilk;
    }

    .product-use h3 a {
        text-decoration: none;
        color: #FF6683;
    }
    h3:hover{
        color:red;
    }

    .banner-content a {
        display: inLine-block;
        background-color: deeppink;
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
        
    }

    section {
        font-family: sans-serif;
        text-align: center;
    }

    .slider-product-one-content {
        background-color: antiquewhite;
        padding: 12px;
    }

    .slider-product-one-content-items {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 16px;
    }

    .slider-product-one-content-item:hover img {
        transform: translateY(-15px)
    }

    .slider-product-one-content-item {
        width: 20%;
        background-color: white;
        padding: 30px 12px 12px;
        border-radius: 20px;
        cursor: pointer;
    }

    .slider-product-one-content-item img {
        width: 100%;
        transition: all 0.3s ease;
    }

    .slider-product-one-content-item-text li {
        list-style-type: none;
        margin-bottom: 6px;
        font-size: 20px;
        font-size: 15px;
        transform: translateX(-18px);
    }
    .slider-product-one-content-item-text {
        padding-top: 12px;
    }

    #de {
        color: red;
        font-size: 20px;
        background-color: antiquewhite;
    }

    .slider-product-one-content-item-text li ins {
        padding-right: 20px;
    }

    h1 {
        color: crimson;
        font-size: 30px;
    }
    .oi {
        font-size: 250%;
        text-align: center;
        color: deeppink;
    }
    .banner-content h4 {
        position:absolute;
        top:90px;
        right:575px;
    }
</style>
<section id="banner">
    <div class="banner-content">
        <h2>Chào mừng bạn đến với web bán gấu bông của chúng tôi</h2>
        <p>Hàng ngàn gấu bông đang chờ bạn đấy</p>
        @Html.ActionLink("Bắt đầu mua sắm", "batdaumuasam", "Products")
    </div>

</section>
<br />
<section id="tienich" class="content-section">
    <div class="oi"><b>GauBong.com-Shop gấu bông đẹp và uy tín tại sư vạn hạnh</b></div>
    <br/>
    <div class="productContainer2">
        <div class="product-use">
            @*<img src="~/Content/ha/giao-hang-tan-nha.png" width="50"/>*@
            <img src="~/Content/ha/ghtn2.PNG" /> <br />
            <h3>@Html.ActionLink("Giao hàng tận nơi", "giaohangtannoi", "Products")</h3>
        </div>
        <div class="product-use">
            @*<img src="~/Content/ha/boc-qua-gia-re.png" />*@
            <img src="~/Content/ha/bocquagiare.PNG" />
            <h3>@Html.ActionLink("Bốc quà giá rẻ", "bocquagiare", "Products")</h3>
        </div>
        <div class="product-use">
            @*<img src="~/Content/ha/tang-thiep-mien-phi.png" />*@
            <img src="~/Content/ha/tangthiepmienphi.PNG" />
            <h3>@Html.ActionLink("Tặng thiệp miễn phí", "tangthiepmienphi", "Products")</h3>
        </div>
        <div class="product-use">
            @*<img src="~/Content/ha/giat-gau-bog.png" />*@
            <img src="~/Content/ha/giat.PNG" />
            <h3>@Html.ActionLink("Giặt gấu bông", "giatgaubong", "Products")</h3>
        </div>
        <div class="product-use">
            @*<img src="~/Content/ha/nen-nho-gau.png" />*@
            <img src="~/Content/ha/nennho.PNG" />
            <h3>@Html.ActionLink("Nén nhỏ gấu", "nennhogau", "Products")</h3>
        </div>
    </div>
    <div class="anh2">
    </div>
</section>
<section class="slider-product-one">
    <div class="container">
        <div class="slider-product-one-content">
            <div class="slider-product-one-content">
                <h1>CÁC SẢN PHẨM NỔI BẬT</h1>
            </div>
            <div class="slider-product-one-content-items">
                <div class="slider-product-one-content-item">
                    <img src="~/Content/images/016.jpg" />
                    <div class="slider-product-one-content-item-text">
                        <ul>
                            <li>Vịt tóc xanh(em của Xuân tóc đỏ)</li>
                            <li><small><del>165.000</del></small><ins>đ</ins> <span id="de">-46%</span></li>
                            <li><b>89.000<ins>đ</ins></b></li>
                        </ul>
                    </div>
                </div>
                <div class="slider-product-one-content-item">
                    <img src="~/Content/images/vitdangiu.jpg" />
                    <div class="slider-product-one-content-item-text">
                        <ul>
                            <li>Vịt đáng iu đeo túi hàng cao cấp</li>
                            <li><small><del>95.000</del></small><ins>đ</ins> <span id="de"> -33%</span></li>
                            <li><b>64.000<ins>đ</ins></b></li>
                        </ul>
                    </div>
                </div>
                <div class="slider-product-one-content-item">
                    <img src="~/Content/images/013.jpg" />
                    <div class="slider-product-one-content-item-text">
                        <ul>
                            <li>Gấu bông Stitch ôm bé vịt siêu dễ thương</li>
                            <li><small><del>180.000</del></small><ins>đ</ins> <span id="de"> -33%</span></li>
                            <li><b>120.000<ins>đ</ins></b></li>
                        </ul>
                    </div>
                </div>
                <div class="slider-product-one-content-item">
                    <img src="~/Content/images/rabit.jpg" />
                    <div class="slider-product-one-content-item-text">
                        <ul>
                            <li>Kuriozud siêu dễ thương</li>
                            <li><small><del>266.000</del></small><ins>đ</ins> <span id="de"> -33%</span></li>
                            <li><b>200.000<ins>đ</ins></b></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-product-one-content">
            <div class="slider-product-one-content">
                <h1>GẤU BÔNG SINH NHẬT</h1>
            </div>
            @*Phần của Việt*@

        </div>
        <div class="slider-product-one-content">
            <div class="slider-product-one-content">
                <h1>GẤU BÔNG TỐT NGHIỆP</h1>
            </div>
            @*Phần của Trúc*@

        </div>
        <div class="slider-product-one-content">
            <div class="slider-product-one-content">
                <h1>GỐI BÔNG & PHỤ KIỆN</h1>
            </div>
            @*Phần của Bảo*@

        </div>
        <div class="slider-product-one-content">
            <div class="slider-product-one-content">
                <h1>MÓC KHÓA THÚ BÔNG</h1>
            </div>
            @*Phần của Thiện*@

        </div>
</section>
<section id="productList">
</section>



